/* Small Screen */
.container {
  background-color: #06d6a0;
  color: #fff;
  padding: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__brand {
  font-size: 2rem;
  margin: 2rem;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar__item {
  margin-bottom: 1rem;
  text-align: left;
}

/* Medium Screeen */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__brand {
    margin: 1rem;
    align-items: center;
    margin-left: 3rem;
  }

  .navbar__list {
    flex-direction: row;
    margin: 1rem;
    margin-right: 3rem;
  }

  .navbar__item {
    margin: 0.5rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0.5rem;
  }
  .navbar__brand {
    align-content: center;
  }

  .navbar__item {
    margin: 0.8rem;
  }
}
