/* Small Screen */
.container {
  background-color: #06d6a0;
  color: #fff;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__brand {
  font-size: 2rem;
  margin: 2rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__item {
  margin-bottom: 1rem;
  text-align: left;
}

/* Medium Screeen */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__author {
    display: flex;
    margin-left: 3rem;
  }
  
  .footer__brand {
    margin: 1rem;
    align-items: center;
    margin-left: 3rem;
  }

  .footer__list {
    flex-direction: row;
    margin: 1rem;
    margin-right: 1rem;
  }

  .footer__item {
    margin: 0.5rem;
    display: flex;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0.5rem;
  }

.footer__group {
  margin-right: 1.6rem;
}

.footer__author {
  margin-left: 3rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

  .footer__brand {
    align-content: center;
  }

  .footer__item {
    margin: 0.5rem;
  }
}
